<h1>Validation des Missions</h1>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Date de début</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Nature</th>
                    <th scope="col">Départ</th>
                    <th scope="col">Arrivée</th>
                    <th scope="col">Transport</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let mission of listeMission, let i=index">
                    <tr>
                        <td>{{mission.dateDebut}}</td>
                        <td>{{mission.dateFin}}</td>
                        <td>{{mission.nature}}</td>
                        <td>{{mission.villeDepart}}</td>
                        <td>{{mission.villeArrivee}}</td>
                        <td>{{mission.transport}}</td>
                        <td>
                            <img (click)="valider(i)" src="https://i.postimg.cc/x81dD0D9/check-noun-002-06440.png"
                                height="20" width="20" />
                            <img (click)="refuser(i)"
                                src="https://cdn.pixabay.com/photo/2013/07/13/10/33/cross-157492__340.png" height="20"
                                width="20" />
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
