<div class="row text-center">
    <div *ngIf="!(collegueConnecte | async).estAnonyme()">
        <div class="col-12 col-lg-2 bouton no-float">
            <a class="link align-self-center" routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
        </div>
        <div class="col-12 col-lg-2 bouton no-float">
            <a class="link" routerLink="/mission" routerLinkActive="active-link">Gestion des
                missions</a>
        </div>
        <div class="col-12 col-lg-2 bouton no-float">
            <a class="link" routerLink="/planning" routerLinkActive="active-link">Planning des
                mission</a>
        </div>
        <div class="col-12 col-lg-2 bouton no-float">
            <a class="link" routerLink="/prime" routerLinkActive="active-link">Prime</a>
        </div>
        <div class="col-12 col-lg-2 bouton no-float">
            <a class="link" routerLink="/note" routerLinkActive="active-link">Saisie des notes de
                frais</a>
        </div>
    </div>
    <div class="col-12 col-lg-2 bouton no-float">
        <div *ngIf="!(collegueConnecte | async).estAnonyme()">
            <a class="link" (click)=seDeconnecter()>Deconnexion</a>
        </div>
    </div>
</div>
