<div class="row">
    <div class="col-12 col-lg-2 mx-auto d-block">
        <button class="bouton" routerLink="/accueil" routerLinkActive="active-link">Accueil</button>
    </div>
    <div class="col-12 col-lg-2 mx-auto d-block">
        <button class="bouton" routerLink="/mission" routerLinkActive="active-link">Gestion des
            missions</button>
    </div>
    <div class="col-12 col-lg-2 mx-auto d-block">
        <button class="bouton" routerLink="/planning" routerLinkActive="active-link">Planning des
            mission</button>
    </div>
    <div class="col-12 col-lg-2 mx-auto d-block">
        <button class="bouton" routerLink="/prime" routerLinkActive="active-link">Prime</button>
    </div>
    <div class="col-12 col-lg-2 mx-auto d-block">
        <button class="bouton" routerLink="/note" routerLinkActive="active-link">Saisie des notes de
            frais</button>
    </div>
    <div class="col-12 col-lg-2 mx-auto d-block">
        <button class="btn btn-dark" routerLink="/connexion" routerLinkActive="active-link">Connexion</button>
        <button class="btn btn-dark" (click)=seDeconnecter()>Deconnexion</button>
    </div>
</div>
