<div *ngIf="!collegueConnecte.estAnonyme()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/accueil">Accueil</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/mission">Gestion des missions</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/planning">Planning des mission</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/prime">Prime</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/noteDeFrais">Saisie note de frais</a>
                </li>
                <li *ngIf="roleAdmin" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/nature">Nature de missions</a>
                </li>
                <li *ngIf="roleManager" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/manager">Validation des missions</a>
                </li>
            </ul>
        </div>

        <a class="navbar-brand btn btn-red" (click)=seDeconnecter()>Se déconnecter</a>
    </nav>
</div>
