<head class="row text-center">
    <div class="col-12">
        <div class="jumbotron">
            <h2 class="h1 h1-responsive">Gestion des Missions</h2>
            <div *ngIf="!(collegueConnecte | async).estAnonyme()">
                <span>{{(collegueConnecte | async).email}}</span>
                <span>({{(collegueConnecte | async).roles}})</span>
            </div>
        </div>
    </div>
</head>


<app-menu [collegueConnecte]=" collegueConnecte"></app-menu>

<main class="row text-center">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</main>
