<div class="text-center">
  <img class="img-fluid"
    src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.abzVrmlfLUY2apCCcbccbQHaEN%26pid%3DApi&f=1">
</div>

<mdb-card class="animated zoomIn">
  <mdb-card-header class="primary-color white-text">
    <h1 class="text-center">GDM</h1>
  </mdb-card-header>
  <mdb-card-body>
    <mdb-card-title>
      <h4>Gestion des Missions</h4>
    </mdb-card-title>

    <form>
      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" [validateSuccess]="false" data-error="Une adresse email est requise" id="defaultForm-email"
          class="form-control" name="email" mdbInputDirective [(ngModel)]="collaborateur.email" required>
        <label for="defaultForm-email">Email</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="defaultForm-pass" [validateSuccess]="false" data-error="Un mot de passe est requis"
          name="motDePasse" class="form-control" mdbInputDirective [(ngModel)]="collaborateur.motDePasse" required>
        <label for="defaultForm-pass">Mot de passe</label>
      </div>

      <div class="text-center">
        <input type="submit" mdbBtn color="primary" sclass="waves-light" mdbWavesEffect value="Se connecter"
          (click)="connecter()">
      </div>
      <div *ngIf="err" class="text-danger">
        Vos informations d'authentification sont invalides.
      </div>
    </form>
  </mdb-card-body>
</mdb-card>
