<h2>Saisie des notes de frais</h2>

<div class="row">
    <div class="col text-center">
        <li>Date de début : {{missionCourante.dateDebut | date:'dd/MM/yyyy'}}</li>
        <li>Date de fin : {{missionCourante.dateFin | date:'dd/MM/yyyy'}}</li>
        <li>Nature : {{missionCourante.nature}}</li>
    </div>
    <div class="col text-center">
        <li>Estimation prime : {{missionCourante.frais}}</li>
        <li>Ville de départ : {{missionCourante.villeDepart}}</li>
        <li>Ville d'arrivée : {{missionCourante.villeArrivee}}</li>
    </div>
</div>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Nature</th>
                <th scope="col">Montant</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let noteDeFrais of listeNotesDeFrais, let id=index">
                <tr>
                    <td>{{noteDeFrais.date}}</td>
                    <td>{{noteDeFrais.nature}}</td>
                    <td>{{noteDeFrais.montant}}</td>
                    <td>
                        <button class="btn btn-link" type="button" (click)="supprimer(id)"><i
                                class="fa fa-trash"></i></button>
                        <button class="btn btn-link" (click)="modifModal.show()"><i class="fa fa-pencil"
                                id="btnright"></i></button>
                        <form (ngSubmit)="validerModif(id)" #createForm="ngForm">
                            <div mdbModal #modifModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="myBasicModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close pull-right" aria-label="Close"
                                                (click)="modifModal.hide()">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title w-100" id="myModalLabel">Modification d'une ligne de
                                                frais</h4>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="form-group">
                                                <li class="row">
                                                    <label class="col text-left">Date : </label>
                                                    <input class="col form-control" [(ngModel)]="dateFrais" type="date"
                                                        name="dateFrais" #dateFrais2="ngModel" />
                                                </li>
                                                <br>
                                                <li class="row">
                                                    <label class="col text-left">Nature : </label>
                                                    <select class="col form-control" id="nature"
                                                        [(ngModel)]="natureFrais" #nature_id="ngModel" name="nature"
                                                        required>
                                                        <optgroup label="-- Sélectionez la nature des frais"></optgroup>
                                                        <option *ngFor="let nature of natures" [value]="nature.name_id">
                                                            {{nature.name}}
                                                        </option>
                                                    </select>
                                                </li>
                                                <br>
                                                <li class="row">
                                                    <label class="col text-left">Montant (€) :</label>
                                                    <div class="col"><input class="form-control"
                                                            [(ngModel)]="montantFrais" type="text" name="montant"
                                                            #montant2="ngModel" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" mdbBtn color="secondary" class="waves-light"
                                                aria-label="Close" (click)="modifModal.hide()"
                                                mdbWavesEffect>Annuler</button>
                                            <button type="submit" mdbBtn color="primary" class="relative waves-light"
                                                (click)="modifModal.hide()" mdbWavesEffect>Valider</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div class="row justify-content-end">
        <p>Ajouter un frais<button class="btn btn-link relative waves-light" type="button" (click)="basicModal.show()"
                mdbWavesEffect><i class="fas fa-plus-square"></i></button></p>
        <form (ngSubmit)="valider()" #createForm="ngForm">
            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="myBasicModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="basicModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title w-100" id="myModalLabel">Ajout d'une ligne de frais</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="form-group">
                                <li class="row">
                                    <label class="col text-left">Date : </label>
                                    <input class="col form-control" [(ngModel)]="dateFrais" type="date" name="dateFrais"
                                        #dateFrais2="ngModel" />
                                </li>
                                <br>
                                <li class="row">
                                    <label class="col text-left">Nature : </label>
                                    <select class="col form-control" id="nature" [(ngModel)]="natureFrais"
                                        #nature_id="ngModel" name="nature" required>
                                        <optgroup label="-- Sélectionez la nature des frais"></optgroup>
                                        <option *ngFor="let nature of natures" [value]="nature.name_id">
                                            {{nature.name}}
                                        </option>
                                    </select>
                                </li>
                                <br>
                                <li class="row">
                                    <label class="col text-left">Montant (€) :</label>
                                    <div class="col"><input class="form-control" [(ngModel)]="montantFrais" type="text"
                                            name="montant" #montant2="ngModel" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                                (click)="basicModal.hide()" mdbWavesEffect>Annuler</button>
                            <button type="submit" mdbBtn color="primary" class="relative waves-light"
                                (click)="basicModal.hide()" mdbWavesEffect>Valider</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
