<div class="text-center">
    <h2>Demande de mission</h2>
    <form appDateFinValidateur appDateDebutValidateur (ngSubmit)="valider()" #createForm="ngForm">
        <ul class="form-group">
            <li class="row">
                <label class="col text-right">Date de début : </label>
                <input class="col form-control" [(ngModel)]="mission.dateDebut" type="date" name="dateDebut" required
                    #dateDebut="ngModel" />
                <div class="col-12 error" *ngIf="createForm.errors && createForm.errors.dateDebut">
                    {{createForm.errors.dateDebut}}
                </div>
            </li>
            <li class="row">
                <label class="col text-right">Date de fin : </label>
                <input class="col form-control" [(ngModel)]="mission.dateFin" type="date" name="dateFin" required
                    #dateFin="ngModel" />
                <div class="col-12 error" *ngIf="createForm.errors && createForm.errors.dateFin">
                    {{createForm.errors.dateFin}}
                </div>
            </li>
            <li class="row">
                <label class="col text-right">Nature : </label>
                <select class="col form-control" id="select">
                    <optgroup label="-- Sélectionez la nature de la mission">
                        <option>conseil</option>
                        <option>expertise</option>
                        <option>technique</option>
                        <option>formation</option>
                    </optgroup>
                </select>
            </li>
            <li class="row">
                <label class="col text-right">Ville de départ :</label>
                <input class="col text-left form-control" [(ngModel)]="mission.villeDepart" type="text"
                    name="villeDepart" required #villeDepart="ngModel" />
            </li>
            <li class="row">
                <label class="col text-right">Ville d'arrivée :</label>
                <input class="col text-left form-control" [(ngModel)]="mission.villeArrivee" type="text"
                    name="villeArrivee" #villeArrivee="ngModel" />
            </li>
            <li class="row">
                <label class="col text-right">Transport : </label>
                <select class="col form-control" id="selectTransport" [(ngModel)]="transport.name_id"
                    #transport_id="ngModel" name="transport">
                    <optgroup label="-- Choisissez un type de transport">
                        <option *ngFor="let tran of transport" [value]="tran.name_id">{{tran.name}}</option>
                    </optgroup>
                </select>
            </li>
            <li class="row">
                <label class="col text-right">Estimation prime :</label>
                <p class="col text-left">
                    <!--{{mission.nature.tjm}}-->0€</p>
            </li>
            <li class="row justify-content-center">
                <button class=" btn btn-danger float-right" routerLink="/mission/affichage"
                    routerLinkActive="active-link">Annuler</button>
                <button class=" btn btn-success float-left" type="submit">Valider</button>
            </li>
        </ul>
    </form>
</div>
